[class^="col"][b-n17qtj5du5] {
    border: 1px dashed blue;
}

.main[b-n17qtj5du5] {
    margin-left: 280px; /* same as sidebar width */
    padding: 2rem;
    overflow-y: auto;
}

body[b-n17qtj5du5], html[b-n17qtj5du5] {
    height: 100%;
    margin: 0;
}