:root[b-hsbaks4ons] {
    --bs-emphasis-color: #f8f9fa;
    --bs-emphasis-color-rgb: #212529;
    --bs-tertiary-bg: #f8f9fa;
}

[data-bs-theme="dark"][b-hsbaks4ons] {
    --bs-emphasis-color: #f8f9fa;
    --bs-emphasis-color-rgb: #f8f9fa;
    --bs-tertiary-bg: #2b3035;
}

body[b-hsbaks4ons] {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

html[b-hsbaks4ons] {
    height: -webkit-fill-available;
}

main[b-hsbaks4ons] {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    height: -webkit-fill-available;
    padding: 1rem;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: auto;
}

.dropdown-toggle[b-hsbaks4ons] { outline: 0; }

.btn-toggle[b-hsbaks4ons] {
    padding: .25rem .5rem;
    font-weight: 600;
    color: var(--bs-emphasis-color);
    background-color: transparent;
}
.btn-toggle:hover[b-hsbaks4ons],
.btn-toggle:focus[b-hsbaks4ons] {
    color: rgba(var(--bs-emphasis-color-rgb), .85);
    background-color: var(--bs-tertiary-bg);
}

.btn-toggle[b-hsbaks4ons]::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

[data-bs-theme="dark"] .btn-toggle[b-hsbaks4ons]::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle[aria-expanded="true"][b-hsbaks4ons] {
    color: rgba(var(--bs-emphasis-color-rgb), .85);
}
.btn-toggle[aria-expanded="true"][b-hsbaks4ons]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a[b-hsbaks4ons] {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
}
.btn-toggle-nav a:hover[b-hsbaks4ons],
.btn-toggle-nav a:focus[b-hsbaks4ons] {
    background-color: var(--bs-tertiary-bg);
}

.scrollarea[b-hsbaks4ons] {
    overflow-y: auto;
}

.bd-placeholder-img[b-hsbaks4ons] {
     font-size: 1.125rem;
     text-anchor: middle;
     -webkit-user-select: none;
     -moz-user-select: none;
     user-select: none
 }

@media (min-width: 768px) {
    .bd-placeholder-img-lg[b-hsbaks4ons] {
        font-size: 3.5rem
    }
}

.b-example-divider[b-hsbaks4ons] {
    width: 100%;
    height: 3rem;
    background-color: #0000001a;
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em #0000001a, inset 0 .125em .5em #00000026
}

.b-example-vr[b-hsbaks4ons] {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh
}

.bi[b-hsbaks4ons] {
    vertical-align: -.125em;
    fill: currentColor
}

.nav-scroller[b-hsbaks4ons] {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden
}

.nav-scroller .nav[b-hsbaks4ons] {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch
}

.btn-bd-primary[b-hsbaks4ons] {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8
}

.bd-mode-toggle[b-hsbaks4ons] {
    z-index: 1500
}

.bd-mode-toggle .bi[b-hsbaks4ons] {
    width: 1em;
    height: 1em
}

.bd-mode-toggle .dropdown-menu .active .bi[b-hsbaks4ons] {
    display: block !important
}
